@model List<DataVisualizer.Models.DataModel>
    
@helper StackedBox(float value, string color)
{
    var height = value * 100 + "%";
    <div class="data-box" style="height: @height; background-color: @color">
        
    </div>
}

@if (Model.Any())
{
    <div class="data">
        @foreach (var item in Model)
        {
            <div class="data-column" style="opacity: @item.ColumnOpacity">
                @StackedBox(item.Box1, "red")
                @StackedBox(item.Box2, "orange")
                @StackedBox(item.Box3, "green")
                @StackedBox(item.Box4, "blue")
                @StackedBox(item.Box5, "purple")
                @StackedBox(item.Box6, "aqua")
                @StackedBox(item.Box7, "black")
                @StackedBox(item.Box8, "beige")
                @StackedBox(item.Box9, "yellow")
                @StackedBox(item.Box10, "gray")
                @StackedBox(item.Box11, "darkblue")
            </div>
        }
    </div>
}